<title>TinyApp</title>
<% if(username === undefined) {%>
  <form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username">
    <input type="submit" value="Sign In">
  </form>
<% } else {%>
  <div><p><%=username%></p></div>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
  </form>
<% } %>